<div id="wrapper">
    <div *ngIf="notify" class="alert alert-success container marge">
        {{ notify }}
    </div>
    <div style="background-color: aquamarine;" class="container">
        <h1 class="text-center mt-5 homee">Welcome to CV Builder App</h1>
    </div>
    <br>
    <div class="grid">
            <pre>
A CV is a short document that gives you a chance to show a prospective employer the best of what 
you’ve got.It sells your skills, experience, and shows them you’re the right person for the job.

Making a good impression is important in today’s competitive job market. Your CV will be your 
first contact with employers so it’s essential to get it right.

&#x7e; A mistake-free CV says you’re professional and care how you come across (ask a friend to 
read it through). Don’t just write out your job description; say how you made a difference at 
work, or describe a project from college.

&#x7e; Different jobs require different strengths: a little research can help you highlight relevant 
strengths for a specific role.

&#x7e; Bullet points make it easier to scan for key skills.

&#x7e; Keep it short: no more than two pages.

&#x7e; Don’t leave gaps: if you’ve had time to travel or care for a relative, say what you learned 
from the experience.
            </pre>
        <img src="https://binaries.templates.cdn.office.net/support/templates/en-gb/lw00002110_quantized.png" alt="Failed to Load Image....">
    </div>
</div>